<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
        <% assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Assignment Registration</h3>
        </div>
        <!-- /.card-header -->
    <div class="col-12">
        <!-- form start -->
        <form role="form">
            <div class="card-body">
            <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="">Customer Name</label>
                    <%= form.text_field :customer_name ,class: 'form-control' %>
                </div>
                <div class="form-group">
                    <label for="">Customer Phone</label>
                    <%= form.text_field :customer_phone ,class: 'form-control' %>
                </div>
                <div class="form-group">
                    <label for="">Pick Up Address</label>
                    <%= form.text_area :pickup_address , class: 'form-control'%>
                </div>
                <div class="form-group">
                    <label for="">Drop Off Address</label>
                    <%= form.text_area :dropoff_address , class: 'form-control'%>
                </div>
                </div>
                <div class="col-4">

                <div class="form-group">
                    <label for="">Vendor Name</label>
                    <%= form.text_field :vendor_name , class: 'form-control'%>
                </div>
                <div class="form-group">
                    <label for="">Vendor Phone Number</label>
                    <%= form.text_field :vendor_phone , class: 'form-control'%>
                </div>
                <div class="form-group">
                    <label for="">Vendor Email Address</label>
                    <%= form.text_field :vendor_email , class: 'form-control'%>
                </div>
               
             <div class="form-group">
                    <label>Assignment Type</label>
                    <%= form.select :assignment_type, options_for_select([['Food Delivery'],['Runner'], ['Others']], @assignment.present? ? @assignment.assignment_type : nil),{}, placeholder: 'Assignment' ,class: 'form-control'%>
                </div>
                <div class="form-group">
                    <label for="">Task</label>
                    <%= form.text_area :task , class: 'form-control'%>
                </div>

                 </div>
                <div class="col-4">

                        <!-- select -->
                <div class="form-group">
                    <label>Select Rider</label>
                    <%= form.select :rider_id, options_for_select(Rider.all.map {|r| [r.name, r.id]}) , class: 'form-control'%>
                </div>
                <div class="form-group">
                    <label>Extra Notes for Rider</label>
                    <%= form.text_area :extra_notes , class: 'form-control'%>
                </div>

                <div class="form-group">
                    <label>Delivery Status</label>
                    <%= form.select :delivery_status, options_for_select([['Completed'],['Pending'], ['Cancelled']], @assignment.present? ? @assignment.delivery_status : nil),{}, placeholder: 'Delivery Status' ,class: 'form-control'%>
                </div>
                </div>
            </div>
            </div>
            <!-- /.card-body -->
    
            <div class="card-footer">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <td>
                            <%= form.submit 'Submit', class: 'btn btn-primary' %>
                            <%= link_to 'Show', @assignment, class: 'btn btn-info' %>
                            <%= link_to 'Back', assignments_path, class: 'btn btn-secondary' %>
                        </td>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>

        </form>
    </div>
    </div>
<% end %>