 
  <!-- Start Page Title Area -->
    <div class="page-title-area pb-5">
        <div class="container">
            <div class="page-title-content">
                <h2>Tempahan penghantaran</h2>
            </div>
        </div>
    </div>

    <section class="features-area pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login-content" style="max-height: 600px">
                        <div class="login-form">
                            <div class="logo">
                                <a href="/">
                                <%= image_tag('logo-white', size: '200x200')%>
                                </a>
                            </div>
                            <form>
                                <div class="form-group text-left">
                                    <label for="jenis-penghantaran">Jenis penghantaran</label>
                                    <select class="form-control" id="jenis-penghantaran">
                                    <option value='0' <%= params[:type] == '0' ? 'selected' : ''%>>Dispatch ( < 3kg )</option>
                                    <option value='1'  <%= params[:type] == '1' ? 'selected' : ''%>>Makanan ( < 5kg )</option>
                                    <option value='2'  <%= params[:type] == '2' ? 'selected' : ''%>>Runner ( < 10kg )</option>
                                    <option value='3'  <%= params[:type] == '3' ? 'selected' : ''%>>Kejutan ( < 5kg )</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Alamat pengambilan" class="form-control" id="pickup-address">
                                </div>

                                <div class="form-group">
                                    <input type="text" placeholder="Alamat penghantaran" class="form-control" id="delivery-address">
                                </div>

                                <div class="form-group">
                                  <input id="datetimepicker" type="text" class="form-control" placeholder="Tarikh tempahan" >
                                </div>

                                <div class="form-group">
                                    <input type="text" placeholder="Kawasan penghantaran." class="form-control" id="delivery-area">
                                    <small>contoh: Kajang, Bandar Baru Bangi, Shah alam, dan sebagainya.</small>
                                </div>

                                <button type="button" class="default-btn" id="calc-price"><i class="bx bxs-hot"></i>Kira harga<span></span></button>
                                
                            </form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5 price-details">
     <div class="container">
         <div class="row">
            
            <div class="col-lg-12">
                <div class="login-content" style="min-height: 1100px">
                    <div class="login-form">
                        <div class="service-details-content ">
                            <div class="service-details-info">
                                <h5><span id="price"></span> - <span id="distance"></span> (<span id="duration"></span>)</h5>
                            </div>
                            <div class="service-details-info">
                                <h5>Bilangan rider : <span id="rider-count"></span></h5>
                            </div>
                        </div>
                        <%= form_for(:request, url: requests_path) do |f|%>
                            <%= f.hidden_field :delivery_type, id: 'delivery-type'%>
                            <%= f.hidden_field :date, id: 'delivery-date'%>
                            <%= f.hidden_field :total_price, id: 'delivery-price'%>
                            <%= f.hidden_field :distance, id: 'delivery-distance'%>
                            <%= f.hidden_field :duration, id: 'delivery-duration'%>
                            <%= f.hidden_field :p_lat, id: 'p-lat'%>
                            <%= f.hidden_field :p_lng, id: 'p-lng'%>
                            <%= f.hidden_field :d_lat, id: 'd-lat'%>
                            <%= f.hidden_field :d_lng, id: 'd-lng'%>
                            <div class="text-left">
                                <h5>Maklumat anda</h5>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :customer_name, placeholder: 'Nama', class: 'form-control'%>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :customer_email, placeholder: 'Emel', class: 'form-control'%>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :customer_phone, placeholder: 'No. telefon', class: 'form-control'%>
                            </div>

                            <div class="form-group">
                                <%= f.text_area :customer_address, placeholder: 'Alamat penuh', class: 'form-control'%>
                            </div>

                            <div class="text-left">
                                <h5>Maklumat pengambilan</h5>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :pickup_name, placeholder: 'Nama', class: 'form-control'%>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :pickup_phone, placeholder: 'No. telefon', class: 'form-control'%>
                            </div>

                            <div class="form-group">
                                <%= f.text_area :pickup_address, placeholder: 'Alamat penuh', class: 'form-control'%>
                            </div>
                            
                            <div class="text-left">
                                <h5>Maklumat tambahan</h5>
                            </div>

                            <div class="form-group">
                                <%= f.text_area :additional_notes, placeholder: 'Terangkan tempahan anda. Jenis produk / berat / barangan yang ingin dibeli / dan sebagainya.', class: 'form-control'%>
                            </div>

                            <div class="form-group">
                                <%= f.text_area :notes, placeholder: 'Nota', class: 'form-control'%>
                            </div>

                            <div class="form-check">
                                <%= f.check_box :insurance, class: 'form-check-input', id: 'insurance'%>
                                <label class="form-check-label" for="insurance"> tambah insurance (RM0.85) (cover sehingga RM200)</label>
                            </div>

                            <small>* Anda akan menerima SMS dari kami untuk maklumat rider anda selepas pembayaran.</small>
                            <button type="submit" class="default-btn" id="calc-price"><i class="bx bxs-hot"></i>Tempah<span></span></button>
                            
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <script>
    $('#datetimepicker').datetimepicker();
    $('#calc-price').click(function(){
    $.get( "/riders/coverage/" + $('#delivery-area').val(), function( data ) {
        console.log(data)
        $( "#rider-count" ).text( data );
        }, "json" );
    })
    </script>